@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

* { font: 62.5%/1.2 'Ubuntu', sans-serif; font-family: 'Ubuntu', sans-serif; }
body { font-family: 'Ubuntu', sans-serif; background: #222426; color: #909499; }

h1 { color: #fff; font-size: 3em; text-align: center; font-weight: bold; }
h2 { color: #fff; font-size: 2.4em; text-align: center; }
h3 { color: #fff; font-size: 1.8em; text-align: center; }
h4 { color: #fff; font-size: 1.4em; text-align: center; }
h5 { color: #fff; font-size: 1.2em; text-align: center; }
h6 { color: #fff; font-size: 1em; text-align: center; }

h1 span, h2 span { display: block; font-size: .75em; padding-top: .2em; font-weight: normal; }

a { color: #e95420; }
a:hover {}

/* all column classes */
.row div[class^="col s"], .row div[class*=" col s"] { padding: 0; margin: 0; }

.nav {}
.nav ul { display: block; padding: 0 2em; }
.nav ul li { display: inline-block; }
.nav ul li.right { float: right; }
.nav ul li a { display: block; padding: 1.5em 1em; color: #909499; border-top: solid 3px transparent; }
.nav ul li a:hover { color: #e1e3e6; }
.nav ul li.active a { border-top: solid 3px #e95420; color: #e1e3e6; font-weight: bold; }

.row p { font-size: 1.1em; line-height: 1.4em; padding: 2em; }

.title-img { text-align: center; }
.title-img img { height: 200px; display: block; margin: auto; }

body.eyecatcher { background-repeat: no-repeat; background-position: center 5em; }
body.eyecatcher.manifest { background-image: url(../images/eyecatcher-manifest.png); }

body.eyecatcher .container .row.dark { background: #222426; }

ol.quote-list { text-align: center; list-style: numbered; font-family: 'Cardo', serif; font-size: 1.5em; padding: 2em; line-height: 2em; }
ol.quote-list li { }

footer { position: absolute; bottom: 0; width: 100%; padding: 1.5em 1em; }
footer ul { display: block; padding: 0 2em; }
footer ul li { display: inline-block; }
footer ul li.right { float: right; }
footer ul li a { color: #909499; }
footer ul li a:hover { color: #e1e3e6; }
